In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
# 如果是linux系统
trainPath = os.getcwd()+'/train.csv'
testPath = os.getcwd()+'/test.csv'
train_df = pd.read_csv(trainPath, index_col=0)
test_df = pd.read_csv(testPath, index_col=0)

d:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# 如果是win系统

train_df = pd.read_csv('train.csv', index_col=0)
test_df = pd.read_csv('test.csv', index_col=0)

d:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
train_df.head(3)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
member_id,,,,,,,,,,,,,,,,,,,,,
13599771,8875.0,8875.0,8875.0,36 months,18.25,321.97,D,D3,Inventory/Part time Sup,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,16700.0,NaN,NaN,NaN
1491956,12500.0,12500.0,12475.0,36 months,8.90,396.92,A,A5,Bel Brands USA,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64687987,33600.0,33600.0,33600.0,60 months,18.55,863.31,E,E2,Assistant Principal,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,41300.0,NaN,NaN,NaN

In [5]:
test_df.head(3)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
member_id,,,,,,,,,,,,,,,,,,,,,
24344352,11000.0,11000.0,11000.0,36 months,10.15,355.72,B,B2,Custodian,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,47900.0,NaN,NaN,NaN
68831083,18400.0,18400.0,18400.0,60 months,13.18,420.36,C,C3,President,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,46100.0,NaN,NaN,NaN
72767821,8800.0,8800.0,8800.0,36 months,10.64,286.61,B,B4,CPA,1 year,...,63964.0,69.9,4.0,7.0,4971.0,66.8,23100.0,1.0,0.0,5.0

In [6]:
y_train = train_df.pop('acc_now_delinq')

In [7]:
train_df.shape

(709903, 62)

In [8]:
y_train.shape

(709903,)

In [9]:
all_df = pd.concat((train_df, test_df), axis = 0)

In [10]:
all_df.shape

(887379, 62)

In [11]:
data = all_df

In [12]:
all_df.columns.values

array(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'earliest_cr_line', 'mths_since_last_record',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim',
       'inq_fi', 'total_cu_tl', 'inq_last_12m'], dtype=object)

In [13]:
#sub_grade

sub_grade_mapping = {'A1':0,'A2':1,'A3':2,'A4':3,'A5':4,
                     'B1':5,'B2':6,'B3':7,'B4':8,'B5':9,
                     'C1':10,'C2':11,'C3':12,'C4':13,'C5':14,
                     'D1':15,'D2':16,'D3':17,'D4':18,'D5':19,
                     'E1':20,'E2':21,'E3':22,'E4':23,'E5':24,
                     'F1':25,'F2':26,'F3':27,'F4':28,'F5':29,
                     'G1':30,'G2':31,'G3':32,'G4':33,'G5':34}

data.sub_grade = data.sub_grade.map(sub_grade_mapping)

In [14]:
data.sub_grade.head()

member_id
13599771    17
1491956      4
64687987    21
8446850      5
58471388    17
Name: sub_grade, dtype: int64

In [15]:
data.grade.head()

member_id
13599771    D
1491956     A
64687987    E
8446850     B
58471388    D
Name: grade, dtype: object

In [16]:
#grade
data = data.drop(['grade'],axis=1)

In [17]:
#for binarilization：pymnt_plan,term
feature_for_binary = {'term','pymnt_plan'}
def binary(feature_for_binary,data):
    for items in feature_for_binary: 
        mapping = {label:idx for idx,label in enumerate(set(data[items]))}  
        data[items] = data[items].map(mapping) 
    return data

In [18]:
data.emp_length.head()

member_id
13599771      8 years
1491956        1 year
64687987      9 years
8446850     10+ years
58471388      5 years
Name: emp_length, dtype: object

In [19]:
data.term.head()

member_id
13599771     36 months
1491956      36 months
64687987     60 months
8446850      60 months
58471388     60 months
Name: term, dtype: object

In [20]:
binary(feature_for_binary,data)

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
member_id,,,,,,,,,,,,,,,,,,,,,
13599771,8875.0,8875.0,8875.0,1,18.25,321.97,17,Inventory/Part time Sup,8 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,16700.0,NaN,NaN,NaN
1491956,12500.0,12500.0,12475.0,1,8.90,396.92,4,Bel Brands USA,1 year,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64687987,33600.0,33600.0,33600.0,0,18.55,863.31,21,Assistant Principal,9 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,41300.0,NaN,NaN,NaN
8446850,17000.0,17000.0,17000.0,0,9.71,358.78,5,Cook Childrens Medical Center,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN
58471388,14000.0,14000.0,14000.0,0,16.99,347.87,17,Cook,5 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,10300.0,NaN,NaN,NaN
5337525,24000.0,24000.0,24000.0,0,17.27,599.96,14,walmart distribution cntr,10+ years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,24600.0,NaN,NaN,NaN
30165519,12000.0,12000.0,12000.0,0,16.29,293.67,16,Officer,1 year,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,8900.0,NaN,NaN,NaN
1909391,23325.0,23325.0,23325.0,0,20.49,624.35,20,stallion production services,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,14800.0,NaN,NaN,NaN
43182363,15000.0,15000.0,15000.0,0,10.49,322.34,7,Sr. Electrical Designer,3 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,36000.0,NaN,NaN,NaN
69222001,19200.0,19200.0,19200.0,0,13.18,438.64,12,Teacher,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,45400.0,NaN,NaN,NaN
16540530,3450.0,3450.0,3450.0,1,10.99,112.94,7,Documentation Specialist I,7 years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,6700.0,NaN,NaN,NaN
71160396,18000.0,18000.0,18000.0,0,16.55,443.01,16,Front Office Manager,8 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,18900.0,NaN,NaN,NaN
60071842,30900.0,30900.0,30900.0,1,16.55,1094.77,16,Sr Administrative Assistant,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,11700.0,NaN,NaN,NaN
57668328,12000.0,12000.0,11975.0,0,13.33,275.07,12,Elecriction,3 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,28600.0,NaN,NaN,NaN
67687466,6000.0,6000.0,6000.0,1,6.89,184.97,2,Office Manager/Bookkeeper,3 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,25700.0,NaN,NaN,NaN
15369372,22800.0,22800.0,22800.0,1,6.62,700.05,1,Professor,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,54300.0,NaN,NaN,NaN
43835646,4000.0,4000.0,4000.0,1,13.99,136.70,13,Economist,5 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,19800.0,NaN,NaN,NaN
779496,17000.0,10350.0,10225.0,1,6.17,315.67,2,p.s.e. & g.,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61616912,22000.0,22000.0,22000.0,1,11.53,725.79,9,Assistant store manager,10+ years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,11100.0,NaN,NaN,NaN
70236564,25000.0,25000.0,25000.0,1,7.89,782.15,4,VP Corporate Operations,2 years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,38300.0,NaN,NaN,NaN
15049437,14900.0,14900.0,14900.0,0,21.18,404.61,22,Helpdesk Tech II,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,4900.0,NaN,NaN,NaN
6827555,15000.0,15000.0,15000.0,0,16.29,367.09,13,TMT Entertainment,8 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,24800.0,NaN,NaN,NaN
11918997,13300.0,13300.0,13300.0,1,17.57,477.97,16,Business mgr,7 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,20100.0,NaN,NaN,NaN
2830469,32350.0,32350.0,32350.0,1,15.31,1126.35,11,Office Max,2 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,24400.0,NaN,NaN,NaN
34952648,15500.0,15500.0,15500.0,1,10.15,501.24,6,NaN,NaN,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,26400.0,NaN,NaN,NaN
42586279,6000.0,6000.0,6000.0,1,21.99,229.12,24,Teacher,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,9200.0,NaN,NaN,NaN
48602144,17050.0,17050.0,17050.0,0,20.49,456.39,23,network technician,2 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,18100.0,NaN,NaN,NaN
60214560,9925.0,9925.0,9925.0,1,11.53,327.43,9,Claims clerical supervisor,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,8100.0,NaN,NaN,NaN
7430576,21200.0,21200.0,21200.0,0,16.78,524.38,14,Utility Trailer Manufacturing Co.,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,40200.0,NaN,NaN,NaN
43081898,31500.0,31500.0,31500.0,0,15.59,759.18,15,Director of Finance,3 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,39100.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66393012,15625.0,15625.0,15625.0,1,18.25,566.85,20,tractor trailer driver,< 1 year,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,6800.0,NaN,NaN,NaN
9339706,7925.0,7925.0,7925.0,1,16.20,279.41,13,Associate Information System Analyst,2 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,NaN
26427450,8800.0,8800.0,8800.0,1,12.99,296.47,10,Managing editor,4 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,NaN,NaN,NaN
48412828,15000.0,15000.0,15000.0,1,9.99,483.94,7,Police Officer,9 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,15100.0,NaN,NaN,NaN
7641212,4000.0,4000.0,4000.0,0,24.08,115.26,26,Talladega County Schools,1 year,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
35893585,2250.0,2250.0,2250.0,1,15.61,78.68,15,production,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,11800.0,NaN,NaN,NaN
31606789,25000.0,25000.0,25000.0,0,10.99,543.44,7,NaN,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,17800.0,NaN,NaN,NaN
25826363,10000.0,10000.0,10000.0,1,10.99,327.34,7,NaN,NaN,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,24800.0,NaN,NaN,NaN
23044013,3600.0,3600.0,3600.0,1,13.98,123.01,12,NaN,NaN,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,14400.0,NaN,NaN,NaN
18565259,25000.0,25000.0,25000.0,0,13.98,581.45,12,DETACHMENT SGT,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,39200.0,NaN,NaN,NaN
70226493,29475.0,29475.0,29475.0,1,9.99,950.94,7,Produce Specialist,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,52500.0,NaN,NaN,NaN
7422113,10000.0,10000.0,9950.0,1,11.55,330.00,7,Kanza Mental Health,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,16900.0,NaN,NaN,NaN
1725105,4800.0,4800.0,4800.0,1,17.27,171.78,14,United States Navy,8 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13689178,24000.0,24000.0,24000.0,1,8.90,762.08,4,Sales Executive,1 year,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,85100.0,NaN,NaN,NaN
70410007,35000.0,35000.0,35000.0,1,7.89,1095.00,4,Manager Maintenance,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,39500.0,NaN,NaN,NaN
34390938,20000.0,20000.0,20000.0,0,9.17,416.82,5,Production Supervisor,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN
1862377,10000.0,10000.0,10000.0,1,13.11,337.47,8,Rockwell Automation,7 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,18100.0,NaN,NaN,NaN
62249415,14550.0,14550.0,14550.0,1,9.99,469.42,7,CUNY Office Assistant,3 years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,19700.0,NaN,NaN,NaN
20116760,10400.0,10400.0,10400.0,0,17.57,261.67,18,NaN,NaN,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,63500.0,NaN,NaN,NaN
67778233,22675.0,22675.0,22675.0,0,19.99,600.63,23,Administrator,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,20500.0,NaN,NaN,NaN
16641826,15275.0,15275.0,15275.0,1,21.18,576.90,22,Adult Protective Services Investigator,10+ years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,4800.0,NaN,NaN,NaN
24577209,17500.0,17500.0,17400.0,1,8.39,551.55,4,owner,10+ years,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,31800.0,NaN,NaN,NaN
47943366,5500.0,5500.0,5500.0,1,16.99,196.07,17,Admin Asst,9 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22600.0,NaN,NaN,NaN
42832436,1500.0,1500.0,1500.0,1,12.39,50.11,10,Supervisor,9 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22300.0,NaN,NaN,NaN
63504974,9000.0,9000.0,9000.0,1,9.99,290.37,7,home inspector,3 years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,7900.0,NaN,NaN,NaN
54209112,31200.0,31200.0,31200.0,0,22.99,879.37,26,Director of EDucation,< 1 year,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,10800.0,NaN,NaN,NaN
4150401,14125.0,14125.0,14125.0,1,7.90,441.98,3,Flatiron Construction Corp,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,60500.0,NaN,NaN,NaN
1823353,21250.0,21250.0,21250.0,1,14.09,727.21,9,NaN,4 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,31500.0,NaN,NaN,NaN
44164218,10000.0,10000.0,10000.0,1,12.29,333.53,10,superintendent,10+ years,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
1765507,12000.0,12000.0,12000.0,1,14.33,412.06,10,Avis budget group,6 years,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,48700.0,NaN,NaN,NaN

In [21]:
data.pymnt_plan.unique()

array([0, 1], dtype=int64)

In [22]:
[data.term.head(),data.pymnt_plan.head()]

[member_id
 13599771    1
 1491956     1
 64687987    0
 8446850     0
 58471388    0
 Name: term, dtype: int64, member_id
 13599771    0
 1491956     0
 64687987    0
 8446850     0
 58471388    0
 Name: pymnt_plan, dtype: int64]

In [23]:
#emp_length
emp_length_mapping = {'10+ years':10,'9 years':9,'8 years':8,'7 years':7,'6 years':6,
                       '5 years':5,'4 years':4,'3 years':3,'2 years':2,'1 year':1,'< 1 year':0}
data.emp_length = data.emp_length.map(emp_length_mapping)

In [24]:
data.emp_length.unique()

array([  8.,   1.,   9.,  10.,   5.,   4.,   3.,   7.,   2.,  nan,   6.,
         0.])

In [25]:
data.emp_length.mean()

6.008694991656321

In [26]:
data.emp_length.isnull().sum()

44825

In [27]:
data.emp_length = data.emp_length.fillna(data.emp_length.mean())

In [28]:
data.emp_length.isnull().sum()

0

In [29]:
#此时已经处理:grade,sub_grade,term,pymnt_plan,emp_length,
data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
member_id,,,,,,,,,,,,,,,,,,,,,
13599771,8875.0,8875.0,8875.0,1,18.25,321.97,17,Inventory/Part time Sup,8.0,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,16700.0,NaN,NaN,NaN
1491956,12500.0,12500.0,12475.0,1,8.90,396.92,4,Bel Brands USA,1.0,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64687987,33600.0,33600.0,33600.0,0,18.55,863.31,21,Assistant Principal,9.0,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,41300.0,NaN,NaN,NaN
8446850,17000.0,17000.0,17000.0,0,9.71,358.78,5,Cook Childrens Medical Center,10.0,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN
58471388,14000.0,14000.0,14000.0,0,16.99,347.87,17,Cook,5.0,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,10300.0,NaN,NaN,NaN

In [30]:
data.emp_length.unique()

array([  8.        ,   1.        ,   9.        ,  10.        ,
         5.        ,   4.        ,   3.        ,   7.        ,
         2.        ,   6.00869499,   6.        ,   0.        ])

In [31]:
data.issue_d.values[1]

'May-2012'

In [32]:
pd.Period(data.issue_d.values[1])

Period('2012-05', 'M')

In [33]:
#for get_dummies: home_ownership, verification_status, loan_status,purpose
pd.get_dummies(data.home_ownership).head()

           ANY  MORTGAGE  NONE  OTHER  OWN  RENT
member_id
13599771     0         1     0      0    0     0
1491956      0         1     0      0    0     0
64687987     0         0     0      0    0     1
8446850      0         1     0      0    0     0
58471388     0         0     0      0    0     1

In [34]:
data.home_ownership.unique()

array(['MORTGAGE', 'RENT', 'OWN', 'OTHER', 'NONE', 'ANY'], dtype=object)

In [41]:
feature_for_dummy = {'home_ownership','verification_status','loan_status','purpose'}
def multi_get_dummies(feature_for_dummy,data):
    for items in feature_for_dummy: 
        data = data.join(pd.get_dummies(data[items],prefix=items))
    return data

In [36]:
data.loan_status.unique()

array(['Charged Off', 'Fully Paid', 'Current', 'In Grace Period',
       'Late (31-120 days)', 'Issued',
       'Does not meet the credit policy. Status:Charged Off',
       'Does not meet the credit policy. Status:Fully Paid', 'Default',
       'Late (16-30 days)'], dtype=object)

In [37]:
data.verification_status.head()

member_id
13599771           Verified
1491956     Source Verified
64687987    Source Verified
8446850            Verified
58471388    Source Verified
Name: verification_status, dtype: object

In [38]:
loan_status_mapping = {'Charged Off':'CF','Fully Paid':'FP','Current':'Current','In Grace Period':'IGP','Late (31-120 days)':'L31-120',
                       'Issued':'Issued','Does not meet the credit policy. Status:Charged Off':'NotMeetCF','Does not meet the credit policy. Status:Fully Paid':'NotMeetFP','Default':'Default','Late (16-30 days)':'L16-30'}
data.loan_status = data.loan_status.map(loan_status_mapping)

In [39]:
data.loan_status.unique()

array(['CF', 'FP', 'Current', 'IGP', 'L31-120', 'Issued', 'NotMeetCF',
       'NotMeetFP', 'Default', 'L16-30'], dtype=object)

In [42]:
data = multi_get_dummies(feature_for_dummy,data)

In [43]:
data.columns.values

array(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'earliest_cr_line', 'mths_since_last_record',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim',
       'inq_fi', 'total_cu_tl', 'inq_last_12m', 'loan_status_CF',
       'loan_status_Current', 'loan_status_Default', 'loan_status_FP',
       'loan_status_IGP', 'loan_status_Issued', 'loan_status_L16-30',
       'loan_status_L31-120', 'loan_status_NotMeetCF',
       'loan_status_NotMeetFP', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_NONE',
       'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy',
       'purpose_small_business', 'purpose_vacation', 'purpose_wedding',
       'verification_status_Not Verified',
       'verification_status_Source Verified',
       'verification_status_Verified'], dtype=object)

In [45]:
data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,...,purpose_medical,purpose_moving,purpose_other,purpose_renewable_energy,purpose_small_business,purpose_vacation,purpose_wedding,verification_status_Not Verified,verification_status_Source Verified,verification_status_Verified
member_id,,,,,,,,,,,,,,,,,,,,,
13599771,8875.0,8875.0,8875.0,1,18.25,321.97,17,Inventory/Part time Sup,8.0,MORTGAGE,...,0,0,0,0,0,0,0,0,0,1
1491956,12500.0,12500.0,12475.0,1,8.90,396.92,4,Bel Brands USA,1.0,MORTGAGE,...,0,0,0,0,0,0,0,0,1,0
64687987,33600.0,33600.0,33600.0,0,18.55,863.31,21,Assistant Principal,9.0,RENT,...,0,0,0,0,0,0,0,0,1,0
8446850,17000.0,17000.0,17000.0,0,9.71,358.78,5,Cook Childrens Medical Center,10.0,MORTGAGE,...,0,0,0,0,0,0,0,0,0,1
58471388,14000.0,14000.0,14000.0,0,16.99,347.87,17,Cook,5.0,RENT,...,0,0,0,0,0,0,0,0,1,0

In [249]:
df.funded_amnt.astype('string')
df.loc[:,['funded_amnt','funded_amnt_inv',]][150:-150]
df.loc[:,'mths_since_last_major_derog'].count()
df.loc[:,['dti_joint','application_type',]].head(3)
data = df.loc[:,['member_id','dti_joint','application_type']]
for index, row in data.iterrows():
    if row['application_type'] != 'INDIVIDUAL':
        print(row['application_type'],row['dti_joint'])

0         11000.0
1         18400.0
2          8800.0
3          8500.0
4          1000.0
5         20000.0
6          4625.0
7          5500.0
8         14000.0
9         26000.0
10        12000.0
11         1500.0
12        12000.0
13        12500.0
14        24000.0
15         6525.0
16         7200.0
17        22800.0
18         7475.0
19        10000.0
20        24025.0
21        10000.0
22        10000.0
23         8000.0
24        10000.0
25        30000.0
26         3600.0
27         2550.0
28         3000.0
29        32400.0
           ...
177446    15625.0
177447     7925.0
177448     8800.0
177449    15000.0
177450     4000.0
177451     2250.0
177452    25000.0
177453    10000.0
177454     3600.0
177455    25000.0
177456    29475.0
177457    10000.0
177458     4800.0
177459    24000.0
177460    35000.0
177461    20000.0
177462    10000.0
177463    14550.0
177464    10400.0
177465    22675.0
177466    15275.0
177467    17500.0
177468     5500.0
177469     1500.0
177470     9000.0
177471    31200.0
177472    14125.0
177473    21250.0
177474    10000.0
177475    12000.0
Name: funded_amnt, Length: 177476, dtype: object