In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
path = os.getcwd()+'/test.csv'

In [3]:
df = pd.read_csv(path)

In [4]:
df.columns.values

array(['member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term',
       'int_rate', 'installment', 'grade', 'sub_grade', 'emp_title',
       'emp_length', 'home_ownership', 'annual_inc', 'verification_status',
       'issue_d', 'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title',
       'zip_code', 'addr_state', 'dti', 'earliest_cr_line',
       'mths_since_last_record', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m', 'open_il_6m',
       'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il', 'total_bal_il',
       'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc', 'all_util',
       'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m'], dtype=object)

In [5]:
data = df
sub_grade_mapping = {'A1':0,'A2':1,'A3':2,'A4':3,'A5':4,
                     'B1':5,'B2':6,'B3':7,'B4':8,'B5':9,
                     'C1':10,'C2':11,'C3':12,'C4':13,'C5':14,
                     'D1':15,'D2':16,'D3':17,'D4':18,'D5':19,
                     'E1':20,'E2':21,'E3':22,'E4':23,'E5':24,
                     'F1':25,'F2':26,'F3':27,'F4':28,'F5':29,
                     'G1':30,'G2':31,'G3':32,'G4':33,'G5':34}

data.sub_grade = data.sub_grade.map(sub_grade_mapping)

In [6]:
data = data.drop(['grade'],axis=1)

In [7]:
data.sub_grade.unique()

array([ 6, 12,  8,  1, 11,  5, 23,  7, 13, 22,  4, 10,  0, 20,  3, 19, 15,
       17, 24, 18,  9, 25, 21, 14,  2, 26, 27, 16, 30, 28, 32, 29, 33, 34,
       31])

In [8]:
#term
term_mapping = {label:idx for idx,label in enumerate(set(data['term']))}  
data.term = df.term.map(term_mapping)

In [9]:
#emp_length
emp_length_mapping = {'10+ years':10,'9 years':9,'8 years':8,'7 years':7,'6 years':6,
                       '5 years':5,'4 years':4,'3 years':3,'2 years':2,'1 year':1,'< 1 year':0}
data.emp_length = df.emp_length.map(emp_length_mapping)

In [10]:
data2 = data
average_emp_length = data2.dropna(axis=0,subset=['emp_length']).emp_length.mean() 
data.emp_length. = data.emp_length.fillna(average_emp_length)

SyntaxError: invalid syntax (<ipython-input-10-7ed11d730fd6>, line 3)

In [11]:
data

,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,emp_length,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,24344352,11000.0,11000.0,11000.0,0,10.15,355.72,6,Custodian,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,47900.0,NaN,NaN,NaN
1,68831083,18400.0,18400.0,18400.0,1,13.18,420.36,12,President,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,46100.0,NaN,NaN,NaN
2,72767821,8800.0,8800.0,8800.0,0,10.64,286.61,8,CPA,1.0,...,63964.0,69.9,4.0,7.0,4971.0,66.8,23100.0,1.0,0.0,5.0
3,1539914,8500.0,8500.0,8500.0,0,6.62,260.99,1,FCEOC,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,68359086,1000.0,1000.0,1000.0,0,12.59,33.50,11,Plumber,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,21500.0,NaN,NaN,NaN
5,57325151,20000.0,20000.0,20000.0,0,8.18,628.39,5,Function Chemist,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,28700.0,NaN,NaN,NaN
6,69574516,4625.0,4625.0,4625.0,0,19.99,171.86,23,Operations Manager,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4200.0,NaN,NaN,NaN
7,8075891,5500.0,5500.0,5500.0,0,11.55,181.50,7,RLSD,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,3000.0,NaN,NaN,NaN
8,57485220,14000.0,14000.0,14000.0,1,13.99,325.69,13,New Business & Sales Manager,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12600.0,NaN,NaN,NaN
9,54025412,26000.0,26000.0,26000.0,1,19.19,677.18,22,Registered Nurse,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,43739.0,NaN,NaN,NaN
10,65442318,12000.0,12000.0,12000.0,0,10.99,392.81,8,Systems Engineer,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,41900.0,NaN,NaN,NaN
11,576332,1500.0,1500.0,1500.0,0,8.94,47.66,4,Cablevision,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,43102515,12000.0,12000.0,12000.0,1,20.99,324.58,23,Finance Coordinator,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12200.0,NaN,NaN,NaN
13,7411621,12500.0,12500.0,12475.0,0,13.68,425.29,10,Chris Mullins Company,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,23100.0,NaN,NaN,NaN
14,53967979,24000.0,24000.0,24000.0,1,10.99,521.70,8,Civil Engineering Associate,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,33900.0,NaN,NaN,NaN
15,66662790,6525.0,6525.0,6525.0,0,12.69,218.89,11,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,96600.0,NaN,NaN,NaN
16,1691951,7200.0,7200.0,7200.0,0,6.03,219.14,0,brazoria county,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,6987363,22800.0,22800.0,22800.0,0,14.33,782.91,10,Affinity Health Sytem,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,19100.0,NaN,NaN,NaN
18,14719277,7475.0,7475.0,7475.0,0,13.65,254.21,10,Auditor,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12200.0,NaN,NaN,NaN
19,17341718,10000.0,10000.0,9900.0,0,12.49,334.49,8,Ultrasound Technician,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,NaN,NaN,NaN
20,21369410,24025.0,24025.0,24025.0,1,18.99,623.09,20,System Engineer,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,13800.0,NaN,NaN,NaN
21,46857235,10000.0,10000.0,10000.0,0,5.93,303.91,0,sales,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,18100.0,NaN,NaN,NaN
22,19886734,10000.0,10000.0,10000.0,0,10.99,327.34,7,Charge nurse,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,28100.0,NaN,NaN,NaN
23,23542928,8000.0,8000.0,8000.0,0,7.69,249.55,3,Technical Support Manager,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,23100.0,NaN,NaN,NaN
24,60926846,10000.0,10000.0,10000.0,1,19.19,260.46,22,wear house stocker,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,28900.0,NaN,NaN,NaN
25,10056774,30000.0,30000.0,30000.0,1,20.20,798.16,19,equipment operator,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,21800.0,NaN,NaN,NaN
26,31727435,3600.0,3600.0,3600.0,0,14.49,123.90,13,Pricing Specialist,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,19100.0,NaN,NaN,NaN
27,34922998,2550.0,2550.0,2550.0,0,15.59,89.14,15,Therapist,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,11100.0,NaN,NaN,NaN
28,1767379,3000.0,3000.0,3000.0,0,15.80,105.18,12,m c express,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4900.0,NaN,NaN,NaN
29,61755051,32400.0,32400.0,32400.0,0,8.18,1018.00,5,OPERATIONS MANAGER,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,98650.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177446,66393012,15625.0,15625.0,15625.0,0,18.25,566.85,20,tractor trailer driver,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,6800.0,NaN,NaN,NaN
177447,9339706,7925.0,7925.0,7925.0,0,16.20,279.41,13,Associate Information System Analyst,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,NaN
177448,26427450,8800.0,8800.0,8800.0,0,12.99,296.47,10,Managing editor,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,NaN,NaN,NaN
177449,48412828,15000.0,15000.0,15000.0,0,9.99,483.94,7,Police Officer,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,15100.0,NaN,NaN,NaN
177450,7641212,4000.0,4000.0,4000.0,1,24.08,115.26,26,Talladega County Schools,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
177451,35893585,2250.0,2250.0,2250.0,0,15.61,78.68,15,production,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,11800.0,NaN,NaN,NaN
177452,31606789,25000.0,25000.0,25000.0,1,10.99,543.44,7,NaN,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,17800.0,NaN,NaN,NaN
177453,25826363,10000.0,10000.0,10000.0,0,10.99,327.34,7,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,24800.0,NaN,NaN,NaN
177454,23044013,3600.0,3600.0,3600.0,0,13.98,123.01,12,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,14400.0,NaN,NaN,NaN
177455,18565259,25000.0,25000.0,25000.0,1,13.98,581.45,12,DETACHMENT SGT,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,39200.0,NaN,NaN,NaN
177456,70226493,29475.0,29475.0,29475.0,0,9.99,950.94,7,Produce Specialist,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,52500.0,NaN,NaN,NaN
177457,7422113,10000.0,10000.0,9950.0,0,11.55,330.00,7,Kanza Mental Health,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,16900.0,NaN,NaN,NaN
177458,1725105,4800.0,4800.0,4800.0,0,17.27,171.78,14,United States Navy,8.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
177459,13689178,24000.0,24000.0,24000.0,0,8.90,762.08,4,Sales Executive,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,85100.0,NaN,NaN,NaN
177460,70410007,35000.0,35000.0,35000.0,0,7.89,1095.00,4,Manager Maintenance,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,39500.0,NaN,NaN,NaN
177461,34390938,20000.0,20000.0,20000.0,1,9.17,416.82,5,Production Supervisor,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN
177462,1862377,10000.0,10000.0,10000.0,0,13.11,337.47,8,Rockwell Automation,7.0,...,NaN,NaN,NaN,NaN,NaN,NaN,18100.0,NaN,NaN,NaN
177463,62249415,14550.0,14550.0,14550.0,0,9.99,469.42,7,CUNY Office Assistant,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,19700.0,NaN,NaN,NaN
177464,20116760,10400.0,10400.0,10400.0,1,17.57,261.67,18,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,63500.0,NaN,NaN,NaN
177465,67778233,22675.0,22675.0,22675.0,1,19.99,600.63,23,Administrator,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,20500.0,NaN,NaN,NaN
177466,16641826,15275.0,15275.0,15275.0,0,21.18,576.90,22,Adult Protective Services Investigator,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,4800.0,NaN,NaN,NaN
177467,24577209,17500.0,17500.0,17400.0,0,8.39,551.55,4,owner,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,31800.0,NaN,NaN,NaN
177468,47943366,5500.0,5500.0,5500.0,0,16.99,196.07,17,Admin Asst,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,22600.0,NaN,NaN,NaN
177469,42832436,1500.0,1500.0,1500.0,0,12.39,50.11,10,Supervisor,9.0,...,NaN,NaN,NaN,NaN,NaN,NaN,22300.0,NaN,NaN,NaN
177470,63504974,9000.0,9000.0,9000.0,0,9.99,290.37,7,home inspector,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,7900.0,NaN,NaN,NaN
177471,54209112,31200.0,31200.0,31200.0,1,22.99,879.37,26,Director of EDucation,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,10800.0,NaN,NaN,NaN
177472,4150401,14125.0,14125.0,14125.0,0,7.90,441.98,3,Flatiron Construction Corp,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,60500.0,NaN,NaN,NaN
177473,1823353,21250.0,21250.0,21250.0,0,14.09,727.21,9,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,31500.0,NaN,NaN,NaN
177474,44164218,10000.0,10000.0,10000.0,0,12.29,333.53,10,superintendent,10.0,...,NaN,NaN,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
177475,1765507,12000.0,12000.0,12000.0,0,14.33,412.06,10,Avis budget group,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,48700.0,NaN,NaN,NaN

In [249]:
df.funded_amnt.astype('string')
df.loc[:,['funded_amnt','funded_amnt_inv',]][150:-150]
df.loc[:,'mths_since_last_major_derog'].count()
df.loc[:,['dti_joint','application_type',]].head(3)
data = df.loc[:,['member_id','dti_joint','application_type']]
for index, row in data.iterrows():
    if row['application_type'] != 'INDIVIDUAL':
        print(row['application_type'],row['dti_joint'])

0         11000.0
1         18400.0
2          8800.0
3          8500.0
4          1000.0
5         20000.0
6          4625.0
7          5500.0
8         14000.0
9         26000.0
10        12000.0
11         1500.0
12        12000.0
13        12500.0
14        24000.0
15         6525.0
16         7200.0
17        22800.0
18         7475.0
19        10000.0
20        24025.0
21        10000.0
22        10000.0
23         8000.0
24        10000.0
25        30000.0
26         3600.0
27         2550.0
28         3000.0
29        32400.0
           ...
177446    15625.0
177447     7925.0
177448     8800.0
177449    15000.0
177450     4000.0
177451     2250.0
177452    25000.0
177453    10000.0
177454     3600.0
177455    25000.0
177456    29475.0
177457    10000.0
177458     4800.0
177459    24000.0
177460    35000.0
177461    20000.0
177462    10000.0
177463    14550.0
177464    10400.0
177465    22675.0
177466    15275.0
177467    17500.0
177468     5500.0
177469     1500.0
177470     9000.0
177471    31200.0
177472    14125.0
177473    21250.0
177474    10000.0
177475    12000.0
Name: funded_amnt, Length: 177476, dtype: object