In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
import time

In [2]:
# 如果是linux系统
trainPath = os.getcwd()+'/train.csv'
testPath = os.getcwd()+'/test.csv'
train_df = pd.read_csv(trainPath, index_col=0)
test_df = pd.read_csv(testPath, index_col=0)

/Users/xhxt2008/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# 如果是win系统

#train_df = pd.read_csv('train.csv', index_col=0)
#test_df = pd.read_csv('test.csv', index_col=0)

In [4]:
#去除y值
y_train = train_df.pop('acc_now_delinq')

In [5]:
#合并训练、测试集
all_df = pd.concat((train_df, test_df), axis = 0)

In [6]:
data = all_df

In [7]:
all_df.columns.values

array(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'earliest_cr_line', 'mths_since_last_record',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim',
       'inq_fi', 'total_cu_tl', 'inq_last_12m'], dtype=object)

In [8]:
#sub_grade

sub_grade_mapping = {'A1':0,'A2':1,'A3':2,'A4':3,'A5':4,
                     'B1':5,'B2':6,'B3':7,'B4':8,'B5':9,
                     'C1':10,'C2':11,'C3':12,'C4':13,'C5':14,
                     'D1':15,'D2':16,'D3':17,'D4':18,'D5':19,
                     'E1':20,'E2':21,'E3':22,'E4':23,'E5':24,
                     'F1':25,'F2':26,'F3':27,'F4':28,'F5':29,
                     'G1':30,'G2':31,'G3':32,'G4':33,'G5':34}

data.sub_grade = data.sub_grade.map(sub_grade_mapping)

In [9]:
'''
for delete: grade,zip_code,inq_last_12m,total_cu_tl,open_acc_6m,open_il_12m,open_il_24m,open_il_6m,total_bal_il,
open_rv_12m,open_rv_24m,max_bal_bc,all_util,inq_fi,policy_code,emp_title,emp_title,desc,title,zip_code,dti_joint,
annual_inc_joint,varification_status_joint,il_uti,mths_since_last_record,mths_since_last_major_derog
'''
feature_delete = {'grade','zip_code','inq_last_12m','total_cu_tl','open_acc_6m','open_il_12m','open_il_24m',
                  'open_il_6m','total_bal_il','open_rv_24m','open_rv_12m','max_bal_bc','all_util','inq_fi',
                 'emp_title','policy_code','desc','title','dti_joint','annual_inc_joint',
                 'varification_status_joint','il_uti','mths_since_last_record','mths_since_last_major_derog'}
data = data.drop(feature_delete,axis=1)

In [10]:
#for binarilization：pymnt_plan,term
feature_for_binary = {'term','pymnt_plan'}
def binary(feature_for_binary,data):
    for items in feature_for_binary: 
        mapping = {label:idx for idx,label in enumerate(set(data[items]))}  
        data[items] = data[items].map(mapping) 
    return data

In [11]:
binary(feature_for_binary,data)
temp = data.copy()

In [12]:
#emp_length
emp_length_mapping = {'10+ years':10,'9 years':9,'8 years':8,'7 years':7,'6 years':6,
                       '5 years':5,'4 years':4,'3 years':3,'2 years':2,'1 year':1,'< 1 year':0}
data.emp_length = data.emp_length.map(emp_length_mapping)

In [13]:
# 少量null值的处理，用均值替代：emp_length, revol_util, annual_inc, total_acc, earliest_cr_line
feature_fill_null = {'emp_length','revol_util','annual_inc','total_acc','earliest_cr_line'}
def fill_null(feature_fill_null,data):
    for items in feature_fill_null:
        try:
            time.strptime(data[items].mode()[0],"%b-%Y")
            data[items] = data[items].fillna(data[items].mode()[0])
            print data[items].mode()[0]
            print ('yes')
        except:
            data[items] = data[items].fillna(data[items].mean())
            print data[items].mean()
            print('no')
#         if time.strptime(feature_dropna.mode()[0],"%b-%Y"):
#             data[items] = data[items].fillna(feature_dropna.mode())
#             print feature_dropna.mode()
#         else:
#             data[items] = data[items].fillna(feature_dropna.mean())
    return data

In [14]:
fill_null(feature_fill_null,data)

25.2680261453
no
Aug-2001
yes
55.0676932314
no
75027.5877608
no
6.00869499165
no

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,sub_grade,emp_title,emp_length,home_ownership,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
member_id,,,,,,,,,,,,,,,,,,,,,
13599771,8875.0,8875.0,8875.0,0,18.25,321.97,17,Inventory/Part time Sup,8.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,16700.0,NaN,NaN,NaN
1491956,12500.0,12500.0,12475.0,0,8.90,396.92,4,Bel Brands USA,1.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64687987,33600.0,33600.0,33600.0,1,18.55,863.31,21,Assistant Principal,9.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,41300.0,NaN,NaN,NaN
8446850,17000.0,17000.0,17000.0,1,9.71,358.78,5,Cook Childrens Medical Center,10.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN
58471388,14000.0,14000.0,14000.0,1,16.99,347.87,17,Cook,5.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,10300.0,NaN,NaN,NaN
5337525,24000.0,24000.0,24000.0,1,17.27,599.96,14,walmart distribution cntr,10.000000,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,24600.0,NaN,NaN,NaN
30165519,12000.0,12000.0,12000.0,1,16.29,293.67,16,Officer,1.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,8900.0,NaN,NaN,NaN
1909391,23325.0,23325.0,23325.0,1,20.49,624.35,20,stallion production services,4.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,14800.0,NaN,NaN,NaN
43182363,15000.0,15000.0,15000.0,1,10.49,322.34,7,Sr. Electrical Designer,3.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,36000.0,NaN,NaN,NaN
69222001,19200.0,19200.0,19200.0,1,13.18,438.64,12,Teacher,10.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,45400.0,NaN,NaN,NaN
16540530,3450.0,3450.0,3450.0,0,10.99,112.94,7,Documentation Specialist I,7.000000,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,6700.0,NaN,NaN,NaN
71160396,18000.0,18000.0,18000.0,1,16.55,443.01,16,Front Office Manager,8.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,18900.0,NaN,NaN,NaN
60071842,30900.0,30900.0,30900.0,0,16.55,1094.77,16,Sr Administrative Assistant,10.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,11700.0,NaN,NaN,NaN
57668328,12000.0,12000.0,11975.0,1,13.33,275.07,12,Elecriction,3.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,28600.0,NaN,NaN,NaN
67687466,6000.0,6000.0,6000.0,0,6.89,184.97,2,Office Manager/Bookkeeper,3.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,25700.0,NaN,NaN,NaN
15369372,22800.0,22800.0,22800.0,0,6.62,700.05,1,Professor,4.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,54300.0,NaN,NaN,NaN
43835646,4000.0,4000.0,4000.0,0,13.99,136.70,13,Economist,5.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,19800.0,NaN,NaN,NaN
779496,17000.0,10350.0,10225.0,0,6.17,315.67,2,p.s.e. & g.,10.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61616912,22000.0,22000.0,22000.0,0,11.53,725.79,9,Assistant store manager,10.000000,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,11100.0,NaN,NaN,NaN
70236564,25000.0,25000.0,25000.0,0,7.89,782.15,4,VP Corporate Operations,2.000000,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,38300.0,NaN,NaN,NaN
15049437,14900.0,14900.0,14900.0,1,21.18,404.61,22,Helpdesk Tech II,10.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,4900.0,NaN,NaN,NaN
6827555,15000.0,15000.0,15000.0,1,16.29,367.09,13,TMT Entertainment,8.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,24800.0,NaN,NaN,NaN
11918997,13300.0,13300.0,13300.0,0,17.57,477.97,16,Business mgr,7.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,20100.0,NaN,NaN,NaN
2830469,32350.0,32350.0,32350.0,0,15.31,1126.35,11,Office Max,2.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,24400.0,NaN,NaN,NaN
34952648,15500.0,15500.0,15500.0,0,10.15,501.24,6,NaN,6.008695,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,26400.0,NaN,NaN,NaN
42586279,6000.0,6000.0,6000.0,0,21.99,229.12,24,Teacher,10.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,9200.0,NaN,NaN,NaN
48602144,17050.0,17050.0,17050.0,1,20.49,456.39,23,network technician,2.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,18100.0,NaN,NaN,NaN
60214560,9925.0,9925.0,9925.0,0,11.53,327.43,9,Claims clerical supervisor,4.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,8100.0,NaN,NaN,NaN
7430576,21200.0,21200.0,21200.0,1,16.78,524.38,14,Utility Trailer Manufacturing Co.,10.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,40200.0,NaN,NaN,NaN
43081898,31500.0,31500.0,31500.0,1,15.59,759.18,15,Director of Finance,3.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,39100.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66393012,15625.0,15625.0,15625.0,0,18.25,566.85,20,tractor trailer driver,0.000000,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,6800.0,NaN,NaN,NaN
9339706,7925.0,7925.0,7925.0,0,16.20,279.41,13,Associate Information System Analyst,2.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,5000.0,NaN,NaN,NaN
26427450,8800.0,8800.0,8800.0,0,12.99,296.47,10,Managing editor,4.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,NaN,NaN,NaN
48412828,15000.0,15000.0,15000.0,0,9.99,483.94,7,Police Officer,9.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,15100.0,NaN,NaN,NaN
7641212,4000.0,4000.0,4000.0,1,24.08,115.26,26,Talladega County Schools,1.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
35893585,2250.0,2250.0,2250.0,0,15.61,78.68,15,production,10.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,11800.0,NaN,NaN,NaN
31606789,25000.0,25000.0,25000.0,1,10.99,543.44,7,NaN,10.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,17800.0,NaN,NaN,NaN
25826363,10000.0,10000.0,10000.0,0,10.99,327.34,7,NaN,6.008695,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,24800.0,NaN,NaN,NaN
23044013,3600.0,3600.0,3600.0,0,13.98,123.01,12,NaN,6.008695,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,14400.0,NaN,NaN,NaN
18565259,25000.0,25000.0,25000.0,1,13.98,581.45,12,DETACHMENT SGT,10.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,39200.0,NaN,NaN,NaN
70226493,29475.0,29475.0,29475.0,0,9.99,950.94,7,Produce Specialist,4.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,52500.0,NaN,NaN,NaN
7422113,10000.0,10000.0,9950.0,0,11.55,330.00,7,Kanza Mental Health,4.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,16900.0,NaN,NaN,NaN
1725105,4800.0,4800.0,4800.0,0,17.27,171.78,14,United States Navy,8.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13689178,24000.0,24000.0,24000.0,0,8.90,762.08,4,Sales Executive,1.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,85100.0,NaN,NaN,NaN
70410007,35000.0,35000.0,35000.0,0,7.89,1095.00,4,Manager Maintenance,10.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,39500.0,NaN,NaN,NaN
34390938,20000.0,20000.0,20000.0,1,9.17,416.82,5,Production Supervisor,4.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN
1862377,10000.0,10000.0,10000.0,0,13.11,337.47,8,Rockwell Automation,7.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,18100.0,NaN,NaN,NaN
62249415,14550.0,14550.0,14550.0,0,9.99,469.42,7,CUNY Office Assistant,3.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,19700.0,NaN,NaN,NaN
20116760,10400.0,10400.0,10400.0,1,17.57,261.67,18,NaN,6.008695,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,63500.0,NaN,NaN,NaN
67778233,22675.0,22675.0,22675.0,1,19.99,600.63,23,Administrator,10.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,20500.0,NaN,NaN,NaN
16641826,15275.0,15275.0,15275.0,0,21.18,576.90,22,Adult Protective Services Investigator,10.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,4800.0,NaN,NaN,NaN
24577209,17500.0,17500.0,17400.0,0,8.39,551.55,4,owner,10.000000,RENT,...,NaN,NaN,NaN,NaN,NaN,NaN,31800.0,NaN,NaN,NaN
47943366,5500.0,5500.0,5500.0,0,16.99,196.07,17,Admin Asst,9.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22600.0,NaN,NaN,NaN
42832436,1500.0,1500.0,1500.0,0,12.39,50.11,10,Supervisor,9.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,22300.0,NaN,NaN,NaN
63504974,9000.0,9000.0,9000.0,0,9.99,290.37,7,home inspector,3.000000,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,7900.0,NaN,NaN,NaN
54209112,31200.0,31200.0,31200.0,1,22.99,879.37,26,Director of EDucation,0.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,10800.0,NaN,NaN,NaN
4150401,14125.0,14125.0,14125.0,0,7.90,441.98,3,Flatiron Construction Corp,4.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,60500.0,NaN,NaN,NaN
1823353,21250.0,21250.0,21250.0,0,14.09,727.21,9,NaN,4.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,31500.0,NaN,NaN,NaN
44164218,10000.0,10000.0,10000.0,0,12.29,333.53,10,superintendent,10.000000,OWN,...,NaN,NaN,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
1765507,12000.0,12000.0,12000.0,0,14.33,412.06,10,Avis budget group,6.000000,MORTGAGE,...,NaN,NaN,NaN,NaN,NaN,NaN,48700.0,NaN,NaN,NaN

In [16]:
temp.earliest_cr_line.isnull().sum()

29

In [28]:
temp1 = data.copy()

In [32]:
#for get_dummies: home_ownership, verification_status, loan_status,purpose

feature_for_dummy = {'home_ownership','verification_status','loan_status','purpose'}
def multi_get_dummies(feature_for_dummy,data):
    for items in feature_for_dummy: 
        data = data.join(pd.get_dummies(data[items],prefix=items))
        data.pop(items)
    return data

In [35]:
loan_status_mapping = {'Charged Off':'CF','Fully Paid':'FP','Current':'Current','In Grace Period':'IGP','Late (31-120 days)':'L31-120',
                       'Issued':'Issued','Does not meet the credit policy. Status:Charged Off':'NotMeetCF','Does not meet the credit policy. Status:Fully Paid':'NotMeetFP',
                       'Default':'Default','Late (16-30 days)':'L16-30'}
data.loan_status = data.loan_status.map(loan_status_mapping)

In [36]:
data.loan_status.unique()

array(['CF', 'FP', 'Current', 'IGP', 'L31-120', 'Issued', 'NotMeetCF',
       'NotMeetFP', 'Default', 'L16-30'], dtype=object)

In [37]:
data = multi_get_dummies(feature_for_dummy,data)

In [43]:
data.columns.values

array(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'desc', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'earliest_cr_line', 'mths_since_last_record',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type', 'annual_inc_joint', 'dti_joint',
       'verification_status_joint', 'tot_coll_amt', 'tot_cur_bal',
       'open_acc_6m', 'open_il_6m', 'open_il_12m', 'open_il_24m',
       'mths_since_rcnt_il', 'total_bal_il', 'il_util', 'open_rv_12m',
       'open_rv_24m', 'max_bal_bc', 'all_util', 'total_rev_hi_lim',
       'inq_fi', 'total_cu_tl', 'inq_last_12m', 'loan_status_CF',
       'loan_status_Current', 'loan_status_Default', 'loan_status_FP',
       'loan_status_IGP', 'loan_status_Issued', 'loan_status_L16-30',
       'loan_status_L31-120', 'loan_status_NotMeetCF',
       'loan_status_NotMeetFP', 'home_ownership_ANY',
       'home_ownership_MORTGAGE', 'home_ownership_NONE',
       'home_ownership_OTHER', 'home_ownership_OWN', 'home_ownership_RENT',
       'purpose_car', 'purpose_credit_card', 'purpose_debt_consolidation',
       'purpose_educational', 'purpose_home_improvement', 'purpose_house',
       'purpose_major_purchase', 'purpose_medical', 'purpose_moving',
       'purpose_other', 'purpose_renewable_energy',
       'purpose_small_business', 'purpose_vacation', 'purpose_wedding',
       'verification_status_Not Verified',
       'verification_status_Source Verified',
       'verification_status_Verified'], dtype=object)

In [27]:

pd.Period(data.earliest_cr_line.mode()[0])

Period('2001-08', 'M')

In [30]:
all_df[all_df.earliest_cr_line.isnull()].loc[:,['earliest_cr_line' ,'total_acc','pub_rec']]

          earliest_cr_line  total_acc  pub_rec
member_id
70473                  NaN        NaN      NaN
83132                  NaN        NaN      NaN
70651                  NaN        NaN      NaN
72992                  NaN        NaN      NaN
74469                  NaN        NaN      NaN
79912                  NaN        NaN      NaN
73890                  NaN        NaN      NaN
79878                  NaN        NaN      NaN
72816                  NaN        NaN      NaN
70735                  NaN        NaN      NaN
80973                  NaN        NaN      NaN
85667                  NaN        NaN      NaN
85802                  NaN        NaN      NaN
70681                  NaN        NaN      NaN
70879                  NaN        NaN      NaN
83974                  NaN        NaN      NaN
79906                  NaN        NaN      NaN
79576                  NaN        NaN      NaN
77764                  NaN        NaN      NaN
70626                  NaN        NaN      NaN
70868                  NaN        NaN      NaN
74301                  NaN        NaN      NaN
76623                  NaN        NaN      NaN
85923                  NaN        NaN      NaN
73096                  NaN        NaN      NaN
83471                  NaN        NaN      NaN
85727                  NaN        NaN      NaN
84091                  NaN        NaN      NaN
72194                  NaN        NaN      NaN

In [36]:
data3 = all_df[all_df.inq_last_12m.notnull()].loc[:,['inq_last_12m' ,'total_cu_tl','open_acc_6m','open_il_12m','open_il_24m','open_il_6m','total_bal_il','open_rv_12m','open_rv_24m','max_bal_bc','all_util','inq_fi','all_util']]

In [41]:
data3 = data3.join(y_train)

In [47]:
data3.acc_now_delinq.sum()

78.0

In [49]:
y_train.sum()

3293L

In [53]:
y_train.astype('string').describe()

count     709903
unique         2
top            0
freq      706610
Name: acc_now_delinq, dtype: object

In [90]:
data4 = all_df.loc[all_df.mths_since_last_record.notnull()]

In [91]:
data4

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
member_id,,,,,,,,,,,,,,,,,,,,,
13599771,8875.0,8875.0,8875.00000,36 months,18.25,321.97,D,17,Inventory/Part time Sup,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,16700.0,NaN,NaN,NaN
30165519,12000.0,12000.0,12000.00000,60 months,16.29,293.67,D,16,Officer,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,8900.0,NaN,NaN,NaN
67687466,6000.0,6000.0,6000.00000,36 months,6.89,184.97,A,2,Office Manager/Bookkeeper,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,25700.0,NaN,NaN,NaN
11918997,13300.0,13300.0,13300.00000,36 months,17.57,477.97,D,16,Business mgr,7 years,...,NaN,NaN,NaN,NaN,NaN,NaN,20100.0,NaN,NaN,NaN
42586279,6000.0,6000.0,6000.00000,36 months,21.99,229.12,E,24,Teacher,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,9200.0,NaN,NaN,NaN
47954850,19850.0,19850.0,19850.00000,36 months,14.65,684.71,C,14,Operations Supervisor,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,32100.0,NaN,NaN,NaN
8549779,14000.0,14000.0,14000.00000,60 months,17.56,352.17,D,15,Hoosier Crane Service,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,13200.0,NaN,NaN,NaN
63456897,5000.0,5000.0,5000.00000,36 months,8.18,157.10,B,5,NaN,n/a,...,NaN,NaN,NaN,NaN,NaN,NaN,13000.0,NaN,NaN,NaN
63058421,12800.0,12800.0,12800.00000,60 months,12.69,289.22,C,11,Police Officer,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,23900.0,NaN,NaN,NaN
33009164,5800.0,5800.0,5800.00000,36 months,6.03,176.53,A,0,CNC Machinist,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,6900.0,NaN,NaN,NaN
56812468,3000.0,3000.0,3000.00000,36 months,13.99,102.52,C,13,Nurse,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,23300.0,NaN,NaN,NaN
60577450,5000.0,5000.0,5000.00000,36 months,12.69,167.73,C,11,Maintenance,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,3500.0,NaN,NaN,NaN
9827600,6350.0,6350.0,6350.00000,36 months,14.30,217.96,C,10,NaN,n/a,...,NaN,NaN,NaN,NaN,NaN,NaN,12700.0,NaN,NaN,NaN
64833923,11200.0,11200.0,11200.00000,60 months,13.99,260.55,C,13,Shipper/Receiver,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,30200.0,NaN,NaN,NaN
15008005,25000.0,25000.0,24950.00000,60 months,18.25,638.25,D,17,Attorney,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,24900.0,NaN,NaN,NaN
42274257,8400.0,8400.0,8400.00000,36 months,12.39,280.57,C,10,Senior Executive Assistant,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,21100.0,NaN,NaN,NaN
10437609,5000.0,5000.0,5000.00000,36 months,12.99,168.45,B,8,MANAGER,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,11700.0,NaN,NaN,NaN
69969912,12000.0,12000.0,12000.00000,36 months,12.05,398.86,C,10,Line mechanic,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,20900.0,NaN,NaN,NaN
16601126,7725.0,7725.0,7725.00000,36 months,14.64,266.43,C,12,Police Officer,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,8800.0,NaN,NaN,NaN
33659549,3550.0,3550.0,3550.00000,36 months,17.57,127.58,D,18,Team Member,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,6900.0,NaN,NaN,NaN
26278024,15000.0,15000.0,15000.00000,60 months,20.99,405.72,E,23,Branch Manager,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,20000.0,NaN,NaN,NaN
43889107,12000.0,12000.0,12000.00000,60 months,19.52,314.74,E,22,2nd shift Suoervisor,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,4500.0,NaN,NaN,NaN
7426841,16000.0,16000.0,16000.00000,36 months,13.68,544.36,C,10,TALSMAFURNITURE,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,4800.0,NaN,NaN,NaN
47953288,15000.0,15000.0,15000.00000,36 months,7.89,469.29,A,4,Director of Marketing,2 years,...,NaN,NaN,NaN,NaN,NaN,NaN,32800.0,NaN,NaN,NaN
58731809,8000.0,8000.0,8000.00000,36 months,8.18,251.36,B,5,Program Analyst,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,8500.0,NaN,NaN,NaN
7218998,12000.0,12000.0,12000.00000,60 months,20.49,321.21,E,20,Bridgestone Aiken County Plant,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,10300.0,NaN,NaN,NaN
62695465,6000.0,6000.0,6000.00000,36 months,6.24,183.19,A,1,Medical assistant,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,22700.0,NaN,NaN,NaN
1618643,5200.0,5200.0,5200.00000,36 months,15.81,182.33,C,13,Asante Health Systems,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53414117,35000.0,35000.0,35000.00000,60 months,19.19,911.59,E,22,Train Dispatcher,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,40800.0,NaN,NaN,NaN
10667008,35000.0,35000.0,35000.00000,60 months,20.50,937.06,E,20,Coal Miner,5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,26900.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21108750,10000.0,10000.0,10000.00000,36 months,14.99,346.61,C,14,laborer machine driver,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,9900.0,NaN,NaN,NaN
42515484,14400.0,14400.0,14400.00000,60 months,17.14,358.97,D,18,loader oper.,5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,23900.0,NaN,NaN,NaN
14638782,17000.0,17000.0,17000.00000,36 months,10.99,556.48,B,6,LAB TECHNICIAN,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,26600.0,NaN,NaN,NaN
69939711,24200.0,24200.0,24200.00000,60 months,17.57,608.88,D,18,Technology Director,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,19800.0,NaN,NaN,NaN
16630384,4000.0,4000.0,4000.00000,36 months,14.64,137.96,C,12,patternmaker,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,3600.0,NaN,NaN,NaN
11709015,5000.0,5000.0,5000.00000,36 months,8.90,158.77,A,4,physical therapist assistant,3 years,...,NaN,NaN,NaN,NaN,NaN,NaN,29100.0,NaN,NaN,NaN
40040625,35000.0,35000.0,35000.00000,36 months,21.99,1336.49,E,24,IT Specialist,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,43800.0,NaN,NaN,NaN
382353,11000.0,11000.0,6557.05362,36 months,12.53,368.13,C,10,target,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26378238,10000.0,10000.0,10000.00000,36 months,10.15,323.38,B,6,Apple Systems Administrator,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,14000.0,NaN,NaN,NaN
23302842,16000.0,16000.0,16000.00000,36 months,8.39,504.27,A,4,Firefighter/Paramedic,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,12600.0,NaN,NaN,NaN
54896750,21550.0,21550.0,21550.00000,36 months,8.18,677.09,B,5,Medical Technologist,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,42600.0,NaN,NaN,NaN
68117984,3550.0,3550.0,3550.00000,36 months,16.55,125.78,D,16,truck driver,5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,12200.0,NaN,NaN,NaN
33008581,16000.0,16000.0,16000.00000,36 months,12.99,539.03,C,10,AIRCRAFT MECHANIC,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,30000.0,NaN,NaN,NaN
28673459,5000.0,5000.0,5000.00000,36 months,16.29,176.51,D,16,"Crew Leader ""Custodain""",10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,9100.0,NaN,NaN,NaN
34091247,11050.0,11050.0,11050.00000,60 months,22.15,306.14,E,24,farm operator,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,9900.0,NaN,NaN,NaN
7439889,15250.0,15250.0,15250.00000,60 months,22.20,422.93,E,23,1199seiu Union,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,12900.0,NaN,NaN,NaN
67646116,10200.0,10200.0,10200.00000,36 months,7.26,316.17,A,3,cad cam programmer,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,48200.0,NaN,NaN,NaN
21509295,25000.0,25000.0,24850.00000,36 months,13.35,846.57,C,11,CEO - Managing Member,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,46000.0,NaN,NaN,NaN
61974956,28000.0,28000.0,28000.00000,36 months,9.17,892.61,B,6,Operations Manager,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,44100.0,NaN,NaN,NaN
59145556,2800.0,2800.0,2800.00000,36 months,18.25,101.58,E,20,Deputy G-6,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,9700.0,NaN,NaN,NaN
22821565,6700.0,6700.0,6700.00000,36 months,16.99,238.84,D,17,Sr. Accounting Clerk,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,3200.0,NaN,NaN,NaN
9859181,23850.0,23850.0,23850.00000,60 months,24.99,699.89,F,28,Traffic Manager,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,17000.0,NaN,NaN,NaN
41279280,24000.0,24000.0,24000.00000,60 months,12.39,538.61,C,10,DOT Compliance/Safety,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,34200.0,NaN,NaN,NaN
49932442,23975.0,23975.0,23975.00000,60 months,17.86,606.99,D,19,Teacher,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,14900.0,NaN,NaN,NaN
72128965,21000.0,21000.0,21000.00000,36 months,10.64,683.94,B,8,Cash Management Analyst,10+ years,...,39673.0,67.3,1.0,1.0,3651.0,42.0,25500.0,0.0,2.0,0.0
26427450,8800.0,8800.0,8800.00000,36 months,12.99,296.47,C,10,Managing editor,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,NaN,NaN,NaN
7641212,4000.0,4000.0,4000.00000,60 months,24.08,115.26,F,26,Talladega County Schools,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,12500.0,NaN,NaN,NaN
31606789,25000.0,25000.0,25000.00000,60 months,10.99,543.44,B,7,NaN,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,17800.0,NaN,NaN,NaN
23044013,3600.0,3600.0,3600.00000,36 months,13.98,123.01,C,12,NaN,n/a,...,NaN,NaN,NaN,NaN,NaN,NaN,14400.0,NaN,NaN,NaN
34390938,20000.0,20000.0,20000.00000,60 months,9.17,416.82,B,5,Production Supervisor,4 years,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN

In [92]:
data4 = data4.join(y_train)

In [93]:
data4.loc[:,['mths_since_last_record','acc_now_delinq']]

           mths_since_last_record  acc_now_delinq
member_id
13599771                     50.0             0.0
30165519                    114.0             0.0
67687466                     93.0             0.0
11918997                    105.0             0.0
42586279                     65.0             0.0
47954850                    115.0             0.0
8549779                      88.0             0.0
63456897                     51.0             0.0
63058421                     80.0             0.0
33009164                    118.0             0.0
56812468                     95.0             0.0
60577450                     12.0             0.0
9827600                      53.0             0.0
64833923                    119.0             0.0
15008005                     77.0             0.0
42274257                     55.0             0.0
10437609                     77.0             0.0
69969912                     61.0             0.0
16601126                     95.0             0.0
33659549                     40.0             0.0
26278024                    104.0             0.0
43889107                     70.0             0.0
7426841                      41.0             0.0
47953288                     70.0             0.0
58731809                     39.0             0.0
7218998                      95.0             0.0
62695465                    118.0             0.0
1618643                     107.0             0.0
53414117                     61.0             0.0
10667008                     99.0             0.0
...                           ...             ...
21108750                     55.0             NaN
42515484                    111.0             NaN
14638782                    117.0             NaN
69939711                     61.0             NaN
16630384                     50.0             NaN
11709015                    103.0             NaN
40040625                     61.0             NaN
382353                       25.0             NaN
26378238                    106.0             NaN
23302842                    105.0             NaN
54896750                     82.0             NaN
68117984                     49.0             NaN
33008581                    113.0             NaN
28673459                     49.0             NaN
34091247                    108.0             NaN
7439889                      92.0             NaN
67646116                     79.0             NaN
21509295                     63.0             NaN
61974956                    106.0             NaN
59145556                     79.0             NaN
22821565                     48.0             NaN
9859181                      97.0             NaN
41279280                    111.0             NaN
49932442                     80.0             NaN
72128965                     92.0             NaN
26427450                     71.0             NaN
7641212                      39.0             NaN
31606789                     46.0             NaN
23044013                     52.0             NaN
34390938                      1.0             NaN

[137053 rows x 2 columns]

In [94]:
data4.acc_now_delinq.sum()

472.0