In [1]:
import pandas as pd
import numpy as np

In [2]:
train_df = pd.read_csv('train.csv', index_col=0)
test_df = pd.read_csv('test.csv', index_col=0)

d:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning: Columns (45) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
member_id,,,,,,,,,,,,,,,,,,,,,
13599771,8875.0,8875.0,8875.0,36 months,18.25,321.97,D,D3,Inventory/Part time Sup,8 years,...,NaN,NaN,NaN,NaN,NaN,NaN,16700.0,NaN,NaN,NaN
1491956,12500.0,12500.0,12475.0,36 months,8.90,396.92,A,A5,Bel Brands USA,1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
64687987,33600.0,33600.0,33600.0,60 months,18.55,863.31,E,E2,Assistant Principal,9 years,...,NaN,NaN,NaN,NaN,NaN,NaN,41300.0,NaN,NaN,NaN
8446850,17000.0,17000.0,17000.0,60 months,9.71,358.78,B,B1,Cook Childrens Medical Center,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,22800.0,NaN,NaN,NaN
58471388,14000.0,14000.0,14000.0,60 months,16.99,347.87,D,D3,Cook,5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,10300.0,NaN,NaN,NaN

In [4]:
test_df.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
member_id,,,,,,,,,,,,,,,,,,,,,
24344352,11000.0,11000.0,11000.0,36 months,10.15,355.72,B,B2,Custodian,10+ years,...,NaN,NaN,NaN,NaN,NaN,NaN,47900.0,NaN,NaN,NaN
68831083,18400.0,18400.0,18400.0,60 months,13.18,420.36,C,C3,President,6 years,...,NaN,NaN,NaN,NaN,NaN,NaN,46100.0,NaN,NaN,NaN
72767821,8800.0,8800.0,8800.0,36 months,10.64,286.61,B,B4,CPA,1 year,...,63964.0,69.9,4.0,7.0,4971.0,66.8,23100.0,1.0,0.0,5.0
1539914,8500.0,8500.0,8500.0,36 months,6.62,260.99,A,A2,FCEOC,5 years,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68359086,1000.0,1000.0,1000.0,36 months,12.59,33.50,C,C2,Plumber,< 1 year,...,NaN,NaN,NaN,NaN,NaN,NaN,21500.0,NaN,NaN,NaN

In [5]:
train_df.acc_now_delinq.describe()

count    709903.000000
mean          0.004639
std           0.067950
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: acc_now_delinq, dtype: float64

In [9]:
train_df.isnull().sum().sort_values(ascending=False).head(40)

dti_joint                      709495
annual_inc_joint               709493
verification_status_joint      709493
il_util                        694965
mths_since_rcnt_il             693234
inq_last_12m                   692782
total_cu_tl                    692782
open_acc_6m                    692782
open_il_12m                    692782
open_il_24m                    692782
open_il_6m                     692782
total_bal_il                   692782
open_rv_12m                    692782
open_rv_24m                    692782
max_bal_bc                     692782
all_util                       692782
inq_fi                         692782
desc                           608929
mths_since_last_record         600348
mths_since_last_major_derog    532479
tot_cur_bal                     56135
tot_coll_amt                    56135
total_rev_hi_lim                56135
emp_title                       41187
emp_length                      35852
revol_util                        409
title                             128
collections_12_mths_ex_med        118
pub_rec                            24
earliest_cr_line                   24
total_acc                          24
annual_inc                          4
grade                               0
funded_amnt                         0
pymnt_plan                          0
loan_status                         0
funded_amnt_inv                     0
purpose                             0
issue_d                             0
sub_grade                           0
dtype: int64

In [12]:
len(train_df)

709903

In [13]:
train_df.pop('acc_now_delinq')

member_id
13599771    0
1491956     0
64687987    0
8446850     0
58471388    0
5337525     0
30165519    0
1909391     0
43182363    0
69222001    0
16540530    0
71160396    0
60071842    0
57668328    0
67687466    0
15369372    0
43835646    0
779496      0
61616912    0
70236564    0
15049437    0
6827555     0
11918997    0
2830469     0
34952648    0
42586279    0
48602144    0
60214560    0
7430576     0
43081898    0
           ..
63130280    0
1964879     0
53886389    0
70640139    0
31707654    0
58024838    0
64876975    0
4219414     0
70588885    0
8581538     0
60737290    0
43838136    0
1552797     0
41293809    0
955801      0
28501103    0
58789447    0
14348607    0
33199372    0
3016852     0
36224697    0
28030199    0
1640987     0
43945052    0
52315220    0
60264189    0
65891998    0
21528959    0
801947      0
34973374    0
Name: acc_now_delinq, Length: 709903, dtype: int64

In [14]:
train_df.acc_now_delinq.describe()

AttributeError: 'DataFrame' object has no attribute 'acc_now_delinq'

In [15]:
all_df = pd.concat((train_df, test_df), axis=0)

In [16]:
all_df.shape

(887379, 62)

In [17]:
train_df.shape

(709903, 62)

In [18]:
test_df.shape

(177476, 62)

In [19]:
dummy_train_df = all_df.loc[train_df.index]
dummy_test_df = all_df.loc[test_df.index]

In [20]:
dummy_train_df.shape

(709903, 62)

In [21]:
dummy_test_df.shape

(177476, 62)